altgraph==0.17.3
anyio==3.7.1
appdirs==1.4.4
arrow==1.2.3
asgiref==3.7.2
attrs==23.1.0
Babel==2.12.1
beautifulsoup4==4.11.2
binaryornot==0.4.4
blinker==1.5
brazilcep==6.0.0
briefcase==0.3.15
build==0.10.0
buildozer @ https://github.com/kivy/buildozer/archive/master.zip
cement==2.10.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.0.1
click==8.1.6
clr-loader==0.2.5
colorama==0.4.6
colored==1.4.4
colorlog==3.1.0
contourpy==1.0.7
cookiecutter==2.2.3
cryptography==39.0.1
customtkinter==5.2.1
cycler==0.11.0
dados==0.1.4
darkdetect==0.8.0
decorator==5.1.1
decouple==0.0.7
distlib==0.3.8
Django==5.0.1
docutils==0.19
exceptiongroup==1.1.2
feedgenerator==2.0.0
filelock==3.13.1
fonttools==4.38.0
freetype-py==2.3.0
frozendict==2.3.5
future==0.16.0
gitdb==4.0.10
GitPython==3.1.32
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
idna==3.4
iniconfig==2.0.0
isodate==0.6.1
Jinja2==3.1.2
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.4.5
Kivy-examples==2.1.0
Kivy-Garden==0.1.5
kivymd==1.1.1
kiwisolver==1.4.4
lxml==4.9.2
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.7.0
mdurl==0.1.2
multitasking==0.0.11
mysql-connector-python==8.0.31
numpy==1.24.2
packaging==23.0
pandas==1.5.3
pefile==2023.2.7
pelican==4.8.0
pexpect==4.8.0
Pillow==9.4.0
pipenv==2023.12.1
platformdirs==4.2.0
plotly==5.13.1
pluggy==1.2.0
protobuf==3.20.1
psutil==5.9.5
ptyprocess==0.7.0
pycairo==1.23.0
pycep-correios==5.2.0
pycparser==2.21
pydash==4.3.0
pygame==2.1.2
Pygments==2.14.0
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pyparsing==3.0.9
pypiwin32==223
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pytest==7.4.0
python-dateutil==2.8.2
python-decouple==3.8
python-slugify==8.0.1
pythonnet==3.0.1
pytz==2022.7.1
pywin32==305
pywin32-ctypes==0.2.0
PyYAML==6.0.1
reportlab==4.0.0
requests==2.28.2
requests-file==1.5.1
requests-toolbelt==1.0.0
rich==13.3.1
rlPyCairo==0.2.0
rubicon-java==0.2.6
seaborn==0.12.2
self==2020.12.3
sh==2.0.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
sqlparse==0.4.4
tenacity==8.2.2
text-unidecode==1.3
tkcalendar==1.6.1
toga==0.3.1
toga-android==0.3.1
toga-core==0.3.1
toga-demo==0.3.1
toga-winforms==0.3.1
tomli==2.0.1
tomli_w==1.0.0
travertino==0.2.0
typing_extensions==4.9.0
tzdata==2023.4
Unidecode==1.3.6
urllib3==1.26.14
virtualenv==20.25.0
webencodings==0.5.1
yfinance==0.2.12
zeep==4.2.1